@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

html {
  color: #404040;
  font: 400 1em/1.4 'Open Sans',sans-serif;
}

.site {
  display: flex;
  height: 100%;
  flex-direction: column;

  .content {
    padding-top: 20px;
    flex: 1 0 auto;
    width: 100%;
  }

  .container {
    max-width: 700px;
    margin: 0 auto;

    .title,
    .tag-line
    {
      text-align: center;
      line-height: .8;
    }

    .title {
      font-size: 48px;
      margin-bottom: 5px;
    }

    .tag-line {
      margin-top: 20px;
      font-size: 20px;
    }
  }
}

.code {
  margin-top: 70px;

  &__label {
    margin-bottom: 0;
  }

  &:last-child {
    margin-top: 35px;
  }
}

.code-input {
  display: flex;

  &__field {
    flex: 1;
    width: 100%;
    padding: 10px 20px;
    font-size: 14px;
    font-family: monaco, courier;
    border: 1px solid #ccc;
    border-radius: 2px 0 0 2px;
  }

  &__item {
    color: #666;
    font-weight: 400;
    font-size: 16px;
    background-color: rgba(147, 128, 108, 0.1);
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 2px 2px 0;
  }
}

.code-output {
  display: flex;

  input {
    flex: 1;
    width: 100%;
    padding: 10px 20px;
    font-size: 14px;
    font-family: monaco,courier;
    border: 1px solid #ccc;
    border-radius: 2px 2px 2px 2px;
  }
}
