@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

$background: #181818;
$copy: #E8E8E8;
$headline: #7CAFC2;
$accent1: #b8b8b8;
$accent2: #1AD3F1;
$accent3: #FDE403;
$link: #F7CA88;

html {
  color: #404040;
  font: 400 1em/1.4 'Open Sans',sans-serif;
  background-color: $background;
}

h1, h2, h3, h4, h5, h6 {
  color: $accent1;
}

p, span {
  color: $copy;
}

p {
  font-size: 14px;
}

a {
  color: $link;
  text-decoration: none;
}

.site {
  display: flex;
  height: 100%;
  flex-direction: column;

  .content {
    padding-top: 20px;
    flex: 1 0 auto;
    width: 100%;
  }

  .container {
    max-width: 700px;
    margin: 0 auto;

    .title,
    .tag-line
    {
      text-align: center;
      line-height: .8;
      color: $headline;
    }

    .title {
      font-size: 48px;
      margin-bottom: 5px;
    }

    .tag-line {
      margin-top: 20px;
      font-size: 20px;
    }

    p {
      text-align: center;
    }
  }
}

.form-container {
  margin-top: 60px;
  margin-bottom: 30px;
}

.code {
  &__label {
    margin-bottom: 3px;
    font-size: 16px;
  }

  &:last-child {
    margin-top: 20px;
  }
}

.code-input {
  display: flex;

  &__field {
    flex: 1;
    width: 100%;
    padding: 10px 20px;
    font-size: 14px;
    font-family: monaco, courier;
    border: 1px solid $accent1;
    border-radius: 4px 0 0 4px;

    &:focus {
      border-color: $headline;
    }
  }

  &__item {
    $button-color: #AB4642;

    font-weight: 400;
    font-size: 14px;
    font-weight: bold;
    background-color: $button-color;
    color: white;
    border: 2px solid $button-color;
    border-radius: 0 4px 4px 0;
    cursor: pointer;

    &:hover {
      $hover-color: lighten($button-color, 4);

      transition: all 0.1s ease;
      color: white;
      background-color: $hover-color;
      border-color: $hover-color;
    }
  }
}

.code-output {
  display: flex;

  input {
    flex: 1;
    width: 100%;
    padding: 10px 20px;
    font-size: 14px;
    font-family: monaco,courier;
    border: 1px solid $accent1;
    border-radius: 4px;
  }
}
